-@articles.each do |article|

  %h1#article-title
    <a href="/article/#{article.title}">#{article.show_title}</a>

  #article
    =article.content

  %p#time-stamp
    建立时间: #{article.created}<br/>更新时间: #{article.updated}

  %hr
  %br
  %br

#paginate
  <a href="?starts=#{@articles[-1].id}">更多</a>
